---
import Main from "../layouts/Main.astro";
import CampaignList from "../components/CampaignList.astro";


---

<Main title="WeFund Crowd-Funding Campaign List">
<!-- Content

		============================================= -->

		<section id="content">

			<div class="content-wrap pt-0">



				<div class="section mt-0 overflow-visible">

					<div class="container">

						<div class="row justify-content-center text-center">

							<div class="col-lg-7">

								<div class="heading-block border-bottom-0 mb-4">

									<h2 class="mb-3">Ready to Fund? Explore Projects</h2>

									<p class="text-muted mb-0">Discover a wide range of innovative projects and ideas, from cutting-edge technology to creative arts. Find something that inspires you and support the creators making it happen.</p>

								</div>

								<div class="input-group input-group-lg mb-4">

									<input type="text" class="form-control w-auto" aria-label="Text input with dropdown button" placeholder="Search..">

									<select class="form-select col col-4">

										<option selected value="All">All</option>

										<option value="Business">Business</option>

										<option value="Design">Design</option>

										<option value="Tech">Tech</option>

										<option value="Fashion">Fashion</option>

										<option value="Music">Music</option>

										<option value="Software">Software</option>

										<option value="Hardware">Hardware</option>

									</select>

									<button class="btn bg-color text-white border-0" type="button"><i class="uil uil-search"></i></button>

								</div>

								<a class="button button-rounded" href="#" role="button">Popular</a>

								<a class="button button-rounded button-dark button-black" href="#" role="button">Newest</a>

							</div>

						</div>

					</div>

				</div>


					<CampaignList/>
				


					<ul class="pagination justify-content-center mt-4">

						<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="op-05" aria-hidden="true">&laquo;</span></a></li>

						<li class="page-item active"><a class="page-link" href="#">1</a></li>

						<li class="page-item"><a class="page-link" href="#">2</a></li>

						<li class="page-item"><a class="page-link" href="#">3</a></li>

						<li class="page-item"><a class="page-link" href="#">4</a></li>

						<li class="page-item"><a class="page-link" href="#">5</a></li>

						<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>

					</ul>

				</div>



			</div>

		</section>
        <!-- #content end -->
</Main>