---
---

<header id="header" class="transparent-header" data-sticky-shrink="false">
    <div id="header-wrap" class="border-default">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="/">
                       <h3 class="wefund-logo">WeFund</h3>
                    </a>
                </div><!-- #logo end -->

                <div class="header-misc">
                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search" class="header-misc-icon">
                        <a href="#" id="top-search-trigger"><i class="uil uil-search"></i><i class="bi-x-lg"></i></a>
                    </div><!-- #top-search end -->

                    <a href="#modal-register" data-lightbox="inline" class="button button-small fw-semibold button-border button-rounded ls-0 fw-medium text-transform-none">Start A Campaign</a>
                </div>

                <div class="primary-menu-trigger">
                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                    </button>
                </div>

                <!-- Primary Navigation
                ============================================= -->
                <nav class="primary-menu">

                    <ul class="menu-container">
                        <li class="current menu-item"><a class="menu-link" href="/"><div>Home</div></a></li>
                        <li class="menu-item"><a class="menu-link" href="list.html"><div>Explore</div></a></li>
                        <li class="menu-item"><a class="menu-link" href="#"><div><i class="bi-person fw-semibold"></i>Login</div></a>
                            <ul class="p-3 text-muted sub-menu-container">
                                <li>Not Registered Yet? Genuine Clients, 100% Trust Assurance and Lowest Fees on the Market. <a href="#modal-register" data-lightbox="inline" class="d-block mt-2"><u>Login/Register</u> <i class="bi-arrow-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>

                </nav><!-- #primary-menu end -->

                <form class="top-search-form" action="search.html" method="get">
                    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                </form>

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header><!-- #header end -->

<style>
    .wefund-logo {
        margin: 0;
    }
</style>