<aside class="sidebar col-lg-4">
    <div class="sidebar-widgets-wrap">

        <div>
            <h3 class="fw-bold h2 mb-2 color">$14,566,890 Pledged</h3>
            <span class="text-uppercase text-smaller op-07">pledged of $20,00,000 Goal</span>
            <div class="skill-progress mt-4 mb-3" data-percent="73" style="--cnvs-progress-height: 0.25rem;">
                <div class="skill-progress-title d-flex justify-content-between mb-2 text-uppercase">
                    <span class="counter counter-xs h6 mb-0"><span data-from="0" data-to="73" data-refresh-interval="10" data-speed="1200"></span><strong>%</strong> Funded</span>
                    <span class="counter counter-xs h6 mb-0"><span data-from="0" data-to="20" data-refresh-interval="3" data-speed="1200"></span> Days Left</span>
                </div>
                <div class="skill-progress-bar">
                    <div class="skill-progress-percent bg-color"></div>
                </div>
            </div>
        </div>

        <div class="line line-sm"></div>

        <div>
            <h3 class="fw-bold h1 mb-2">1623</h3>
            <span class="text-uppercase text-smaller op-07">Participants</span>
        </div>

        <div class="line line-sm"></div>

        <div>
            <h3 class="fw-bold h1 mb-2">2243</h3>
            <span class="text-uppercase text-smaller op-07">Contributions</span>
        </div>

        <div class="line line-sm"></div>

        <div>
            <h3 class="fw-bold h1 mb-2">20</h3>
            <span class="text-uppercase text-smaller op-07">Days Remaining</span>
        </div>
        <div class="clear mt-4"></div>
        <a href="#modal-register" data-lightbox="inline" class="button button-xlarge fw-semibold button-rounded ls-0 text-transform-none ms-0 my-4 w-100 text-center">Become an Investor</a>

        <!-- Post Author Info
        ============================================= -->
        <div class="card mt-4">
            <div class="card-header"><strong>Posted by <a href="#">John Doe</a></strong></div>
            <div class="card-body ">
                <div class="author-image  ">
                    <img src="images/author/1.jpg" alt="Image" class="rounded-circle pb-4 pt-2">
                </div>
                I'm a passionate writer and technology enthusiast with a deep love for exploring the latest trends in tech. With years of experience in the industry, I enjoy sharing my insights and knowledge with others, helping them navigate the ever-evolving landscape of technology. Whether it's reviewing the latest gadgets, analyzing industry shifts, or providing tips and tricks, my goal is to make tech accessible and exciting for everyone.
            </div>
        </div><!-- Post Single - Author End -->
    </div>
</aside>