<section id="slider" class="slider-element min-vh-100 include-header" style="background: url('page/crowdfunding/images/hero.svg') no-repeat center bottom / cover;">
    <div class="slider-inner">

        <div class="vertical-middle">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider-title">
                            <h1 class="fw-semibold">Best Crowd-Funding Website for your Startup.</h1>
                            <p class="text-muted">Providing a platform where creators can share their ideas, gain backers, and make their projects a reality!</p>
                        </div>
                        <a href="#modal-register" data-lightbox="inline" class="button button-large fw-semibold button-rounded ls-0 text-transform-none ms-0">Start A Campaign</a>
                        <a href="#modal-register" data-lightbox="inline" class="button button-large fw-semibold button-border button-rounded ls-0 text-transform-none">Sign In</a><br>
                        <a href="#">How It Works <i class="bi-caret-right-fill position-relative" style="top: 2px"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <img src="page/crowdfunding/images/hero-img.svg" alt="Parallax Image" class="slider-img parallax" data-start="margin-top: 0px;" data-400="margin-top: 50px;">

    </div>
</section>